<div class="box-border flex h-screen w-22 flex-col bg-linear-to-r from-slate-50 to-slate-200 text-white">
  <div class="flex bg-linear-to-b from-slate-500 via-slate-300 to-transparent">
    <img
      src="assets/icons/AI.png"
      alt="Logo"
    />
  </div>
  <nav class="flex flex-1 flex-col gap-3 p-3">
    @for (service of services; track service.name) {
      <button
        class="group relative size-16 cursor-pointer rounded-2xl border-none p-2 text-white transition-colors duration-200 hover:bg-slate-500/10 focus:outline-none"
        (click)="onServiceClick(service)"
      >
        <img
          [src]="service.icon"
          [alt]="service.name"
          class="size-12 group-hover:opacity-100 group-hover:grayscale-0"
          [title]="service.name"
          [class.grayscale]="selectedService()?.name !== service.name"
          [class.opacity-50]="selectedService()?.name !== service.name"
        />
      </button>
    }

    @if (isAiServicesRoute()) {
      <div
        class="absolute h-16 w-1 translate-x-18 translate-y-19 rounded bg-slate-500 text-sm whitespace-nowrap text-white transition-transform duration-500"
        [style]="{
          transform: `translateY(calc(var(--spacing) * 19 * ${selectedIndex() - 1})`,
        }"
      ></div>
    }
  </nav>

  <div class="flex w-full flex-col items-center">
    <button
      class="group relative mt-auto size-12 cursor-pointer rounded-2xl border-none p-2 text-white transition-colors duration-200 hover:bg-slate-500/10 focus:outline-none"
      (click)="openSettings()"
      title="Settings"
    >
      <img
        src="assets/icons/settings.svg"
        alt="Settings"
        class="size-8 group-hover:opacity-100"
      />
    </button>
    @if (isSettingsRoute()) {
      <div
        class="absolute h-10 w-1 translate-x-10 translate-y-1 rounded bg-slate-500 text-sm whitespace-nowrap text-white"
      ></div>
    }
  </div>
</div>
