<p-card
  class="dark:bg-primary mx-auto mt-6 max-w-2xl"
  header="Settings"
>
  <p-tabs value="shortcuts">
    <p-tablist>
      <p-tab value="startup">Startup</p-tab>
      <p-tab value="shortcuts">Shortcuts</p-tab>
    </p-tablist>
    <p-tabpanels class="max-h-[calc(100vh-12rem)] overflow-y-auto">
      <p-tabpanel value="startup">
        <app-settings-startup />
      </p-tabpanel>
      <p-tabpanel value="shortcuts">
        <app-settings-shortcuts />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>
