<div class="h-screen overflow-y-auto">
  <p-card
    class="dark:bg-primary mx-auto mt-6 max-w-2xl"
    header="Settings"
  >
    <p-tabs value="startup">
      <p-tablist>
        <p-tab value="startup">Startup</p-tab>
        <p-tab value="shortcuts">Shortcuts</p-tab>
        <p-tab value="updates">About</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="startup">
          <app-settings-startup />
        </p-tabpanel>
        <p-tabpanel value="shortcuts">
          <app-settings-shortcuts />
        </p-tabpanel>
        <p-tabpanel value="updates">
          <app-settings-about />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </p-card>
</div>
